[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slackeventsapi = "*"
python-dotenv = "*"
flask = "*"
slackclient = "*"

[dev-packages]

[requires]
python_version = "3.8"
